*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  
}




.hero{
    
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(1, 1, 1, 0.3),rgba(12,3,52,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
  
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    color: white;
    z-index: 3;
    

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
   
   

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    transition: 1.5s;
    border: 5px solid white;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 10px;
    padding: 7px;
    
}
nav ul li a:hover{
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange; 

}
.content{
    text-align: center;
    position: relative;
}

.content h1{
    font-size: 160px;
    color: #191919;
    font-weight: 600;
   
}


.photo{
    position: absolute;
    right: 0%;
    bottom: 0%;
    top: 0%;
    left: 0%;
}

@media (min-aspect-ratio:16/9){
    .photo{
        width: 100%;
        height: 100%;
    }
}

@media (max-aspect-ratio:16/9){
    .photo{
        width: auto;
        height: 100%;
    }
}


   /* About section start*/

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
   
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

/* My work section start*/

.work{
background: #191919;
width: 100%;
padding: 100px 0px;
}

.title h2{
color: white;
font-size: 75px;
width: 1130px;
margin: 30px auto;
text-align: center;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 50px 35px;
    background: #bababa;
    border-radius: 20px;
    margin: 60px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

.card h5{
    color: #191919;
    font-size: 23px;
    margin-bottom: 50px;
}

.pra p{
 color: #191919;
 font-size: 17px;
 line-height: 27px;
 margin-bottom: 60px;
 
 
}

.card .button{

    position: relative;
    text-align: center;
    width: 100px;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    color: #191919;
    border: 5px solid #191919;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    transition: 1.5s;


}
.card .button:hover{
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
    box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange; 
}
/* contact section start*/

.contact{
    width: 100%;
    height: 4in;
    padding: 100px 0%;
    background-color: #191919;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.main2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contact-text{
    width: 550px;
    position: relative;
    

}
.contact-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contact-text h3{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}



.contact-text h3 ul li{
    list-style: none;
    display: inline-block;
    
}

.contact-text ul li a{
  position: relative;
  text-align: center;
  width: 100px;
  padding: 7px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 5px solid white;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 3px;
  transition: 1.5s;
  
}

.contact-text ul li a:hover{
box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;
box-shadow: 0 5px 50px 0 orange inset, 0 5px 50px 0 orange;           


}

/*footer start*/

.foot{
    width: 100%;
    height: 2in;
    padding: 100px 0%;
    background-color:  #191919;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.foot h2{
    color: white;
}

/* Media Queries*/

@media screen and (max-width:1450px) {
   nav ul li a {
    font-size: 15px;
    
   }
}


@media screen and (max-width: 1220px){
    .content h1{
        font-size: 100px;
        
    }
    .box{
        flex-direction: column;

    }
    .photo{
        position: absolute;
    
    }
   nav ul li a {
    font-size: 14px;
   }
}

@media screen and (max-width: 1220px){
    nav ul li a{
        font-size: 10px;
    }
}

@media screen and (max-width: 1212px) {
    .photo{
        width: 100%;
    }
    
}
@media screen and (max-width: 1187px) {
    nav ul li a{
        font-size: 8px;

    }
}
@media screen and (max-width: 1130px) {
    html, body{
        width:100%;
        overflow-x:hidden;
        }
    
}
@media screen and (max-width: 1030px) {
    nav ul li a{
        font-size: 6px;

    }
}
